<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=imageanalysisappstorage;AccountKey=uhkAlqrbnZEQuNM6aKDULzDgkEV3NPMTO6bYA6tyemDxW5mlTPJNHch+tzpa4qW7dMcVVoUkI4I092lD1/1SFg==;EndpointSuffix=core.windows.net" />
    <add key="BlobStorageContainer" value="images" />
    <add key="QueueName" value="imagesinput" />
    <add key="LocalFolder" value="C:\Temp\td-image-import" />
  </appSettings>
</configuration>